<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/Enviar.css" />
  <link rel="stylesheet" href="../css/all.min.css">
  <link rel="stylesheet" href="../estilo.css">
  <title>Medical san paulo</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light badge-light bg-white">
      <a href="../index.html"><img src="../img/Logo.png" alt="" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./index.html">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Especialidades.html">ESPECIALIDADES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Consultas.html">CONSULTAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/quienes somos.html">QUIENES SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


    <!-- Jumbotron -->
  <div class=" card card-image ">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h1 orange-text"><i class="fas icon-book"></i> Gracias por Contactanos</h5>
        
       
      </div>

    </div>
  </div>

<div class="blanco">
  
    <h6 class="mb-4 pb-2 px-md-5 mx-md-5">Su Consulta a Sido Enviado Exitosamente a nuestro departamento de correo <br>
       le estaremos llamando para su confirmacion Gracias!!</h6>
   
   <a href="../Template/Vehiculos.html" target="_blank" class="btn btn-rounded "><b>Regresar</b></a>
</div>

 <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <div class="container1">
        <img src="../img/Logo.png " alt="" class="croqui  "  >
      </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Medical San Paulo</h5>
        <p class="letra">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Medical san paulo</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->




  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>



</body>

</html>