<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/Especialidades.css" />
  <link rel="stylesheet" href="../css/all.min.css">
  <link rel="stylesheet" href="../estilo.css">
  <title>Medical san paulo</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light badge-light bg-white">
      <a href="../index.html"><img src="../img/Logo.png" alt="" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Especialidades.html">ESPECIALIDADES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Consultas.html">CONSULTAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/quienes somos.html">QUIENES SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!--aqui va el Jumbotrom-->
  <div class="card-image">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h1 orange-text"><i class="fas icon-users"></i>Especialidades</h5>
        <h6 class="mb-4 pb-2 px-md-5 mx-md-5">Nuestros Doctores cuentan con una gran experiencia.</h6>

      </div>

    </div>
  </div>
  <!--aqui va el Jumbotrom-->
  <!-- Texto Primario -->
  <div class="container">

    <!--Section: Blog v.3-->
    <section class="section extra-margins pb-3 text-center text-lg-left wow fadeIn" data-wow-delay="0.3s">

      <!--Section heading-->
      <h1 class="font-weight-bold text-center h1 my-5 ">Medial Team</h1>
      <!--Section description-->
      <p class="text-center grey-text mb-5 mx-auto w-responsive"> Conoce nuestra variedad de vehículos disponibles para
        reservar. <br> Nuestro sistema ágil te ayudará durante todo proceso a realizar de <br> la forma más cómoda la
        elección de tu vehículo.
      </p>
    </section>
  </div>


  <!-- Imagenes 1 -->
  <div class="row row-cols-1 row-cols-md-3 m-4">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Meredith.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title text-center">Meredith Grey</h4>

          <hr class="mb-3 btn-info">
          <!--Text-->
          <p class="card-text">Descripcion</p>

          <div class="row row-cols-1 row-cols-md-2 m-6">

            <p class="card-text">
              <a class="fas fa-door-open m-2 "> 5 Doctorados en medicina General en Hardbar</a>
              <p>

                <a class="fas fa-user m-2"> actualmente vive en california</a>
              </p>
              <p>
                <a class="fas  fa-transgender-alt m-2"> madre de 3 hijos </a>
              </p>
              <p>
                <a class=" fas fa-briefcase m-2"> con 25 años es una de las mejores doctoras en su especialidad</a>
              </p>
              <p>
                <a class="fas fa-wind m-2">              Su Lema Es hora de salvar!!</a>
              </p>
              

          </div>

          <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
          <a href="../vistas_reservaciones/Consulta1.html"><button type="button"
              class="btn btn-light-blue btn-md ">Reservar Consulta</button></a>

        </div>

      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Slow.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title text-center">Mark Slow</h4>

          <hr class="mb-3 btn-info">
          <!--Text-->
          <p class="card-text">Descripcion</p>

          <div class="row row-cols-1 row-cols-md-2 m-6">

            <p class="card-text">
              <a class="fas fa-door-open m-2 "> 2 Doctorados en Cirujia Plastica en Hardbar</a>
              <p>

                <a class="fas fa-user m-2"> actualmente vive en new york</a>
              </p>
              <p>
                <a class="fas  fa-transgender-alt m-2"> padre soltero, con 1 hija </a>
              </p>
              <p>
                <a class=" fas fa-briefcase m-2"> con 28 años es una de las mejores cirujanos plasticos  en su especialidad</a>
              </p>
              <p>
                <a class="fas fa-wind m-2">      Su Lema Es eshora de crear</a>
              </p>
          </div>


        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="../vistas_reservaciones/conculta2.html"><button type="button" class="btn btn-light-blue btn-md ">Reservar Consulta</button></a> 


        </div>

      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Patric chepard.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title text-center">Patrick Sheepard</h4>

          <hr class="mb-3 btn-info">
          <!--Text-->
          <p class="card-text">Descripcion</p>
          
          <div class="row row-cols-1 row-cols-md-2 m-6">
          
            <p class="card-text">
              <a class="fas fa-door-open m-2 "> 3 Doctorados en Cirujia Plastica en Hardbar</a>
              <p>
          
                <a class="fas fa-user m-2"> actualmente vive en new york</a>
              </p>
              <p>
                <a class="fas  fa-transgender-alt m-2"> Esposo de Meredith Grey </a>
              </p>
              <p>
                <a class=" fas fa-briefcase m-2"> con 26 años es uno de los mejores neurocirujanos en el pais nacional como internacional</a>
              </p>
              <p>
                <a class="fas fa-wind m-2">      Es hora de Salvar vidas  </a>
              </p>
          
          </div>


        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="../vistas_reservaciones/conculta3.html"><button type="button" class="btn btn-light-blue btn-md ">Reservar Consulta</button></a> 


        </div>

      

      </div>
      <!-- Card -->
    </div>

  </div>

  <!-- Imagenes 2 -->
  <div class="row row-cols-1 row-cols-md-3 m-4">
    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="../img/yang.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title text-center">dra. Yang</h4>

          <hr class="mb-3 btn-info">
          <!--Text-->
          <p class="card-text">Descripcion</p>
         

          <div class="row row-cols-1 row-cols-md-2 m-6">
          
            <p class="card-text">
              <a class="fas fa-door-open m-2 "> 8 Doctorados en Cirujia cardiotoracica en Hardbard</a>
              <p>
          
                <a class="fas fa-user m-2"> actualmente vive en ciathel</a>
              </p>
              <p>
                <a class="fas  fa-transgender-alt m-2"> soltera y amante a su trabajo </a>
              </p>
              <p>
                <a class=" fas fa-briefcase m-2"> con 25 años es uno de los mejores neurocirujanos en el pais nacional como internacional</a>
              </p>
              <p>
                <a class="fas fa-wind m-2">      Equipo salvemos vidas!  </a>
              </p>
          </div>


        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="../vistas_reservaciones/conculta4.html"><button type="button" class="btn btn-light-blue btn-md ">Reservar Consulta</button></a> 


        </div>

      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="../img/cali.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title text-center">Cali Torres</h4>

          <hr class="mb-3 btn-info">
          <!--Text-->
          <p class="card-text">Descripcion</p>
          

          <div class="row row-cols-1 row-cols-md-2 m-6">
          
            <p class="card-text">
              <a class="fas fa-door-open m-2 "> 3 Doctorados en Cirujia Ortopedica en Hardbar</a>
              <p>
          
                <a class="fas fa-user m-2"> actualmente vive en new york</a>
              </p>
              <p>
                <a class="fas  fa-transgender-alt m-2"> Actualmente comprometida </a>
              </p>
              <p>
                <a class=" fas fa-briefcase m-2"> con 26 años es uno de los mejores neurocirujanos en el pais nacional como internacional</a>
              </p>
              <p>
                <a class="fas fa-wind m-2">      Es hora de Salvar vidas  </a>
              </p>
          </div>


        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="../vistas_reservaciones/conculta5.html"><button type="button" class="btn btn-light-blue btn-md ">Reservar Consulta</button></a> 


        </div>

      </div>
      <!-- Card -->
    </div>

    <div class="col mb-4">
      <!-- Card -->
      <div class="card">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="../img/Alex.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">

          <!--Title-->
          <h4 class="card-title text-center">Alex careb</h4>

          <hr class="mb-3 btn-info">
          <!--Text-->
          <p class="card-text">Descripcion</p>
         

          <div class="row row-cols-1 row-cols-md-2 m-6">
          
            <p class="card-text">
              <a class="fas fa-door-open m-2 "> 4 Doctorados en Pediatria General en Hardbar</a>
              <p>
          
                <a class="fas fa-user m-2"> actualmente vive en new york</a>
              </p>
              <p>
                <a class="fas  fa-transgender-alt m-2"> Comprometido </a>
              </p>
              <p>
                <a class=" fas fa-briefcase m-2"> con 26 años es uno de los mejores neurocirujanos en el pais nacional como internacional</a>
              </p>
              <p>
                <a class="fas fa-wind m-2">      Es hora de Salvar vidas  </a>
              </p>
          </div>


        <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
        <a href="../vistas_reservaciones/conculta6.html"><button type="button" class="btn btn-light-blue btn-md ">Reservar Consulta</button></a> 


        </div>

      </div>
      <!-- Card -->
    </div>

  </div>

  <section class="main container"></section>

  <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <div class="container100">
        <img src="../img/Logo.png " alt="" class="croqui  "  >
      </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Medical San Paulo</h5>
        <p class="letra">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Medical san paulo</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->








  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
</body>

</html>
