<!DOCTYPE html>
<html lang="en, es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/About.css">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../estilo.css">
  <link rel="stylesheet" href="../css/all.min.css">
  <title>Medical san paulo</title>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light badge-light bg-white">
      <a href="../index.html"><img src="../img/Logo.png" alt="" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">HOME<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Especialidades.html">ESPECIALIDADES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Consultas.html">CONSULTAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/quienes somos.html">QUIENES SOMOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Template/Contacto.html">CONTACTO</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>



  <!-- Jumbotron -->
  <div class="card-image">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h1 orange-text"><i class="fas icon-users"></i> Quienes Somos</h5>
        <h6 class="mb-4 pb-2 px-md-5 mx-md-5">Nuestra Descripcion nos hace unicos en el ambito de la medicina</h6>

      </div>

    </div>
  </div>

  <div class="aroz">
  <div class="container text-center m-7 ">
    <h3 class="text-center m-5">Mision</h3>
    <p><i class="m-2 fas fa-quote-left "></i> Ser la empresa líder en el mercado y de esa manera logra la entera
      satisfacción de nuestros clientes, brindándoles el mejor servicio y vehículos que puedan cumplir con la necesidad
      de cada persona que nos requiera, con una buena relación, calidad y precio. 
      Proporcionando un buen servicio   automovilistico en general, conservando nuestra rentabilidad  en un estado de operación eficiente y seguro,
    satisfaciendo sus necesidades y expectativas en el mejor tiempo posible. <i
        class="m-2 fas fa-quote-right"></i> </p>
  </div>
</div>
  <div class="aroz">
  <div class="  container text-center m-7">
    <h3 class="text-center m-5">Vision</h3>
    <p><i class="m-2 fas fa-quote-left "></i>Crear conexiones audaces que nos permitan abarcar el Mercado y extender
      nuestra cartera de cleintes dia tras dia al ser el rent car líder y confiable a nivel zona, en los próximos 3 años, 
      una vez cumplido ese objetivo mantenernos como los mejores en el mercado, ofreciendo el servicio para automóviles modernos y ser
       reconocidos por la calidad en nuestros servicios, honestidad y precios justos.<i class="m-2 fas fa-quote-right"></i></p>

  </div>
</div>

<div class="aroz">
  <div class="  container text-center m-7">
    <h3 class="text-center m-5">Valores</h3>
    <p><i class="m-2 fas fa-quote-left "></i>Responsabilidad, honestidad, tangibilidad , cortecia , Amabilidad <br>
      Amor a Dios, Honestidad, Respeto, Transparencia y Trabajo en Equipo
      <i class="m-2 fas fa-quote-right"></i></p>

  </div>
</div>

  <!-- Card -->
  <div class="card card-cascade wider reverse">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="../img/cirugia-emergencia-covid-19.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center container">

      <!-- Title -->
      <h4 class="card-title"><strong>Nuestro Deber</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Porque?</h6>
      <!-- Text -->
      <p class="card-text"> Por que para nosotros la salud del cliente es nuestro mejor beneficio. Por ello, nuestra
        relación con los mismos no acaba al concluir el trato, ya que nos preocupamos de que “el después” siga siendo
        correcto. Siempre a su disposición y si es posible sanar juntos..
      </p>

      <!-- Twitter -->
      <a href="Contacto.html" target="_blank" class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
      <!-- Linkedin -->
      <a href="Contacto.html" target="_blank" class="px-2 fa-lg li-ic"><i class="fab fa-instagram"></i></a>
      <!-- Dribbble -->
      <a href="Contacto.html" target="_blank" class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

    </div>

  </div>
  <!-- Card -->

  <div class="Btn-bottom text-center ">
    <p>Entonces, ¿Porque no cuidas tu salud con los mejores que esperas?</p>
    <button type="button" class="btn  " data-toggle="button" aria-pressed="false" autocomplete="off" href="#">
      <a href="Contacto.html">!Ponte en Contacto!</a>


    </button>
  </div>

  <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <div class="container100">
        <img src="../img/Logo.png " alt="" class="croqui  "  >
      </div>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Medical San Paulo</h5>
        <p class="letra">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> Medical san paulo</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>

</body>

</html>
